.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.rsschool__logo {
    width: 75px;
    height: 75px;

}

header {
    text-align: center;
}


.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    text-align: center;
    /* background-color: rgba(33, 33, 33, .3); */
}



.wrapper{
    width: 750px;
    margin: 0 auto;
    
}